.News{
    background-color: black;
    padding: 0;
    top: 0;
    margin: auto;
}


.News-header{
    display: flex;
    width: 100%;
}
.news-center{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.918);
    background-color: rgba(245, 241, 241, 0.89);

}

.news-main-post{
    border-radius: 10px;
    width: 80%;
    padding-top: 1rem;
}
.news-tittle{
    margin-right: 2rem;
    margin-left: 2rem;
}
.news-tittle h1{
    font-weight: bold;
}
.news-author{
    padding-left: 3rem;
    text-align: center;
    flex-direction: row; 
    display: flex;
}
.news-image {
    max-height: 500px;
    justify-content: center;
    text-align: center;
    overflow: hidden;  /* Add this line to prevent image overflow */
}

.news-image img {
    width: auto; /* Ensure the image fills the container horizontally */
    max-height: auto; /* Ensure the image fills the container vertically */
    border-radius: 12px;
    border: 1px solid black

}
.news-image span {
    font-size: 12px;
}
.news-author p{
    font-size: bold;
    font-size: 20px;
    padding-right: 2rem;
    font-weight: bold;
    
}
.news-summary{
    margin-right: 2rem;
    margin-left: 2rem;
    
}
.news-summary p{
    font-family: 'Arial', sans-serif; /* Sans-serif font */
    font-size: 17px;
}
.news-summary a{
    color: rgb(12, 107, 248);
    font-weight: bold;
}
.news-summary img,
.news-details img{
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Set margins to auto to horizontally center the image */
    width: 250px;
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;

}

.news-details a{
    color: rgb(12, 107, 248);
    font-weight: bold;
    text-decoration: underline;
}
/* ADS */
.news-ads{
    margin-right: 2rem;
    margin-left: 2rem;
    width: auto;
    height: 75px;
    padding: 20px;
}
.news-details{
    margin-right: 2rem;
    margin-left: 2rem;
}
.news-details p{
    font-size: 17px;
}
.news-provide{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-top: 2px solid rgb(151, 148, 148);
}
.news-provide a{
    color:black;
    text-decoration: underline;
    font-weight: bold;
}
.news-provide p
{
    color:black;
}

.new-side{
    display: flex;
    flex-direction: column; 
    width: 25%;
    border: 5px;
    max-height: 1000px;
}
.news-side-ads{
    width: 100%;
    height: auto;
    border: 1px solid rgb(240, 6, 6);
}
.news-top-pick {
    border: 2px solid rgb(15, 15, 15);
    max-height: 500px;
    overflow: auto; /* Enable scrolling when content overflows */
    display: flex;
    flex-direction: column; /* Display posts in a column layout */
}


.news-top-side-img {
    display: flex;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 10px;
    margin: 2px; /* Add some margin to separate each post */
    overflow: auto; /* Enable scrolling when content overflows */
    min-height: 1px; /* Set minimum height for each post */
    
}

.image-container-new {
    flex: 0 0 125px; /* Set a fixed width for the image container */
    max-height: 125px;
    overflow: hidden; /* Hide overflow content */
    
}

.image-container-new img {
    width: 100%; /* Ensure images fill their containers */
    height: auto; /* Maintain aspect ratio */
}

.text-container {
    flex-grow: 1; /* Allow text container to grow to fill available space */
    padding: 3px; /* Add padding to separate text from border */
}

.text-container p {
    margin: 0; /* Remove default margins */
}

.text-container a {
    display: block; /* Make the read more link a block element */
    margin-top: 0.2rem;
    margin-left: 0rem;
    color: red;
    font-weight:bold;
    font-size: 23px;

}



.news-top-pick-tittle {
    justify-content: center;
    text-align: center;
    max-width: 100%;
    max-height: 125px;
}

/* start new-comment  */

.news-comment {
    width: 100%;
    max-height: 30%;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 2px solid rgb(3, 3, 3);

}

.text-comment {
    border: 2px solid white;
    border-radius: 1rem;
}

.text-comment-user {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.text-comment-user span {
    font-weight: bold;
}

.text-comment-user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.news-enter-comment {
    width: 100%;
    display: flex;
}
.news-enter-comment  form{
    width: 100%;
    display: flex;
}
.news-enter-comment input{
    width: 100%;
    height: 30px;
    margin-left: 0;
    border: 1px solid #4e4d4d; 
    border-radius: 3px;
    overflow-y: auto; 
    word-wrap: break-word; 
}

@media screen and (max-width: 800px) {
    .news-image img {
        width: 250px; /* Ensure the image fills the container horizontally */
        max-height: 300px; /* Ensure the image fills the container vertically */
        border-radius: 20px;
        padding-bottom: 0.5rem;
    }
    .news-tittle,
    .news-summary{
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .news-top-side-img img{
        max-width: 0px;
        max-height: 0px;
    }

    .news-main-post{
        width: 100%;
    }
    .new-side{
        width: 0;
    }

}
@media screen and (max-width: 1200px) {
    .news-center{
        width: 100%;
        display: flex;
    }

    .news-main-post{
        width: 100%;
        margin: 0;
    }

    .News{
        overflow-x: hidden;

    }


}