.Profile-m{
    padding: 0;
    margin: 0;
}
.profile-n{
    background-color: rgba(0, 0, 0, 0.884);
    width: 100%;
    height: auto;
}
.profile-b{
    width: 100%;
    height: 550px;

}
.profile-tog{
    width: 100%;
    padding-top:50px;
    padding-bottom:50px;

    margin: auto;
    justify-content: center;
}
.profile-tog-p{
    width: 75%;
    height: 100%;

    padding: 50px;
    background-color: rgba(120, 214, 243, 0.719);
    margin: auto;
    justify-content: center;
    display: flex;
}
.profile-side-l{
    width: 15%;
    height: 100%;
    border-right: 1px solid white;
    background-color: rgb(247, 243, 243);
    text-align: center;

}

.profile-side-r{
    width: 50%;
    height: 100%;
    background-color: rgb(198, 201, 199);
    text-align: left;
    
}
.profile-side-r p{
    padding-left: 20px;
}
.profile-side-l-p,
.profile-side-l-s,
.profile-side-l-se{
    font-size: 18px;
}
.section-profile p {
    color: white;
}
.profile-side-l-p span, .profile-side-l-s span, .profile-side-l-se span{
    font-weight: bold;
}
.section-profile button{
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
}

button:hover{
    background-color: rgba(122, 120, 120, 0.562);
    color: white;
}
